@model List<Contoso.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Credits</td>
        <td>DepartmentId</td>
    </tr>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Id</td>
            <td>@course.Title</td>
            <td>@course.Credits</td>
            <td>@course.DepartmentId</td>
        </tr>
    }
</table>
