
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    Name <input type="text" name="Name" value="" />
    <br />
    Budget <input type="number" name="Budget" value="" />
    <br />
    StartDate <input type="date" name="StartDate" value="" />
    <br />

    <input type="submit" name="SaveDepartment" value="Save" class="btn btn-primary"/>
</form>

